.update-car-container {
  display: flex;
  justify-content: center;
}

.delete-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.update-car {

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 380px;


  .title {
    margin: 10px 0;
    color: #0061a8;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .update-car-form {
    position: center;
  }

  .delete {
    background-color: red;
  }
}